.DS_Store
build/
DerivedData/
dist/
*.xcuserstate
xcuserdata/
*.dmg
*.app
.idea/
.vscode/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
